  <ul class="pagination center-align">
    {{#if prev}}
        <li class="newer-posts"><a href="{{page_url prev}}"><i class="material-icons">chevron_left</i></a></li>
    {{/if}}
    <li class="active waves-effect" style="background-color: #18975C;"><a href="#!">{{page}} of {{pages}}</a></li>
    {{#if next}}
        <li class="older-posts"><a href="{{page_url next}}"><i class="material-icons">chevron_right</i></a></li>
    {{/if}}
  </ul>