{{!< default}}
<main>

<!-- HEADER NAVIGATION -->
<header class="main-header">
    {{navigation}}
    <div class="showcase container">
        <div class="col s12 m10 offset-m1 center">
            <h5 class="main-text">Welcome to my site</h5>
        </div>
    </div>
</header>
<div style="height:1600px; "></div>
    <div class="container">
        <div class="row">
            <div class="col s12" style="margin-top:-200px;">
                <div class="card horizontal white">
                    <div class="card-image">
                        <img src="../assets/images/about.png" class="responsive-img" style="height: 80%; width: 80%;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h3 class="white-text">Jeremy Dayniel David</h3>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

<!-- END HEADER NAVIGATION -->    

<!-- ABOUT SECTION -->
    <section class="container" id="about">
        <div class="row">
            {{!--
            <div class="col s12 m12 l4">
                <img class="responsive-img materialboxed center-align" src="../assets/images/about1.jpg" alt="" style="padding-top:25px; margin:auto;">
            </div> --}}
            <div class="col s12 m12 l12">
                <h4 class="light center-align ">ABOUT ME</h4>
                <p class="flow-text" style="text-align:justify;">I am currently studying Bachelor of Science in Computer Science at Holy Angel University (currently taking
                    the last semester) which is located in Philippines . I am solution oriented, flexible, and analytical
                    programmer / developer who thrives in challenging problems and enjoys working on projects. I would love
                    to help you solve your Web problems. Web Development and Designing is my specialty. I am well versed
                    in HTML, CSS, Javascript, NodeJS, Bootstrap, Angular, and WordPress. I can help you turn your mockup
                    design into a fully functional website or I can also help you design a website the suits your needs.</p>
            </div>
        </div>
    </section>
<!-- END ABOUT SECTION -->

<!-- PORTFOLIO SECTION -->

    <div class="divider"></div>
    <section id="portfolio" class="container">
        <h4 class="center-align">PORTFOLIO</h4>
        <div class="row">
            {{#foreach posts}}
            <div class="col s12 m4 l4">
                {{> post_card}}
            </div>
            {{/foreach}}
        </div>
    </section>
    <section class="container">
        {{pagination}}
    </section>

<!-- END PORTFOLIO SECTION -->
    
<!-- SKILLS SECTION -->    
    <div class="divider"></div>
    <section id="skills" class="container skills">
        <h4 class="center-align">Skills</h4>
        <div class="card z-depth-2 web">
            <div class="card-content">
                <h5 class="light center">Web</h5>
                <div class="divider" style="margin-bottom: 25px"></div>
                <div class="row text-center">
                    <div class="col s4 m3">
                        <img src="../assets/images/html5.png" alt="" class="responsive-img">
                        <h6>HTML5</h6>
                    </div>
                    <div class="col s4 m3">
                        <img src="../assets/images/css3.png" alt="" class="responsive-img">
                        <h6>CSS3</h6>
                    </div>
                    <div class="col s4 m3">
                        <img src="../assets/images/javascript.png" alt="" class="responsive-img">
                        <h6>JAVASCRIPT</h6>
                    </div>
                    <div class="col s4 m3">
                        <img src="../assets/images/wordpress.png" alt="" class="responsive-img">
                        <h6>WORDPRESS</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="skills" class="container skills" style="margin-top:50px">
        <div class="card z-depth-2 frameworks">
            <div class="card-content">
                <h5 class="center">Frameworks</h5>
                <div class="divider" style="margin-bottom: 25px"></div>
                <div class="row text-center">
                    <div class="col s4 m3">
                        <img src="../assets/images/materializecss.png" alt="" class="responsive-img">
                        <h6>MATERIALIZECSS</h6>
                    </div>
                    <div class="col s4 m3">
                        <img src="../assets/images/bootstrap.png" alt="" class="responsive-img">
                        <h6>BOOTSTRAP</h6>
                    </div>
                    <div class="col s4 m3">
                        <img src="../assets/images/angular.svg" alt="" class="responsive-img">
                        <h6>ANGULAR</h6>
                    </div>
                    <div class="col s4 m3">
                        <img src="../assets/images/nodejs.png" alt="" class="responsive-img">
                        <h6>NODEJS</h6>
                    </div>
                    <div class="col s4 m3">
                        <img src="../assets/images/express.png" alt="" class="responsive-img">
                        <h6>EXPRESS</h6>
                    </div>
                    <div class="col s4 m3">
                        <img src="../assets/images/ionic.png" alt="" class="responsive-img">
                        <h6>IONIC</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="skills" class="container skills" style="margin-top:50px">
        <div class="card z-depth-2 oopl">
            <div class="card-content">
                <h5 class="center">Object Oriented Programming Language</h5>
                <div class="divider" style="margin-bottom: 25px"></div>
                <div class="row text-center">
                    <div class="col s4 m3">
                        <img src="../assets/images/net.svg" alt="" class="responsive-img">
                        <h6>.NET</h6>
                    </div>
                    <div class="col s4 m3">
                        <img src="../assets/images/java.png" alt="" class="responsive-img">
                        <h6>JAVA</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="skills" class="container skills" style="margin-top:50px">
        <div class="card z-depth-2">
            <div class="card-content">
                <h5 class="center">Database</h5>
                <div class="divider" style="margin-bottom: 25px"></div>
                <div class="row text-center">
                    <div class="col s4 m3">
                        <img src="../assets/images/mongodb.png" alt="" class="responsive-img">
                        <h6>MONGODB</h6>
                    </div>
                    <div class="col s4 m3">
                        <img src="../assets/images/mysql.png" alt="" class="responsive-img">
                        <h6>MYSQL</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="skills" class="container skills" style="margin-top:50px">
        <div class="card z-depth-2">
            <div class="card-content">
                <h5 class="center">Operating System</h5>
                <div class="divider" style="margin-bottom: 25px"></div>
                <div class="row text-center">
                    <div class="col s4 m3">
                        <img src="../assets/images/macos.png" alt="" class="responsive-img">
                        <h6>MACOS</h6>
                    </div>
                    <div class="col s4 m3">
                        <img src="../assets/images/linux.png" alt="" class="responsive-img">
                        <h6>LINUX</h6>
                    </div>
                    <div class="col s4 m3">
                        <img src="../assets/images/windows.png" alt="" class="responsive-img">
                        <h6>WINDOWS</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- END SKILLS SECTION -->    
    
    <div class="divider"></div>
    <section id="cv" class="container">
        <h4 class="center-align">CV</h4>
    </section>
    <div class="divider"></div>
    <section id="contact" class="container">
        <h4 class="center-align">Contact</h4>
    </section>
</main>