.main-header {
  background: url('demo-bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 600px;
  color: #fff;
  position: relative;
}

/* .primary-overlay {
  position: absolute;
  background: rgba(63, 57, 77, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
} */
.main-header .showcase {
  padding-top: 110px;
}


.card{ 
  text-align: justify;
}

#about {
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-center {
  text-align: center;
}

body {
  background: #ffffff;
}
.skills .col img.responsive-img {
  margin: auto;
  max-height: 70px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

footer {
  background: #424C80;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  
}
#about, #portfolio, #skills, #frameworks, #oop, #database, #os {
  opacity: 0;
}
