nav {
    z-index: 99999999;
    position: absolute;
    padding-right: 50px;
}
.navlinks {
  padding-right: 35px;
}

.card{ 
  text-align: justify;
}

#about {
  padding-top: 30px;
  padding-bottom: 30px;
}

.text-center {
  text-align: center;
}

body {
  background: #ffffff;
}
.skills .col img.responsive-img {
  margin: auto;
  max-height: 100px;
  padding-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

footer {
  background: #424C80;
}